@font-face
  font-family: "fira_sansregular"
  src: url("../fonts/firasans-regular/firasans-regular-webfont.eot")
  src: url("../fonts/firasans-regular/firasans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasans-regular/firasans-regular-webfont.woff") format("woff"), url("../fonts/firasans-regular/firasans-regular-webfont.ttf") format("truetype")
  font-style: normal
  font-weight: normal