@import 'fonts'
@import 'variables'

*
  margin: 0
  padding: 0
  font-size: 100%
  box-sizing: border-box

.scroll-block
  width: 100%
  height: 100%

.mainPage
  background-image: url('../images/main_background.jpg')
  background-size: cover

.logo
  font-family: $fira_sans_regular
  font-size: 2em
  color: #ffffff

.grid-item
  display: block
  float: left
  width: 33.3333%
  height: auto
  overflow: hidden
  border: 6px solid #fff
  transition: all .5s ease-in-out
  &:hover
    border: 6px solid burlywood
  a, img
    outline: none
    border: none
    display: block
    background-size: cover
    max-width: 100%


